.todoThing {
    margin: 20px;
    padding: 10px;
    width: 500px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.doneThing {
    width: 430px;
    text-decoration: line-through;
    word-break: break-all;

}
.undoneThing {
    width: 430px;
    word-break: break-all;
}

.edit_icon{
    margin-right: 10px;
}

.removeButton {
    margin-left: auto;
}