.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.App > .nav-bar > nav > ul {
  display: flex;
  justify-content: center;
}

.App > .nav-bar > nav > ul > li {
  list-style: none;
  padding: 10px;
}

.counter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
